{% extends 'base.html.twig' %}

{% block title %}Let's go surf!{% endblock %}

{% block body %}


<main class="container">
    <h1>Let's go surf {{ app.user.firstname }} !</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="button">Let's go!</button>
    {{ form_end(form) }}
</main>
{% endblock %}
